/*============= SECTION POLICY =============*/
.bwp-widget-policy .row--banners {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.bwp-widget-policy .featured-banner {
  display: flex;
  overflow: unset;
  align-items: center;
}
.bwp-widget-policy.style-2 .featured-banner:before {
  content: '';
  position: absolute;
  top: 50%;
  right: -15px;
  width: 1px;
  height: 55px;
  background: var(--border-color);
  transform: translateX(-50%);
}
.bwp-widget-policy.style-2 .col-banner:last-child .featured-banner:before {
  display: none;
}
.bwp-widget-policy .bwp-button {
  margin-top: 10px;
}
.bwp-widget-policy .image {
  width: 100%;
}
.bwp-widget-policy .image svg {
  fill: var(--color-svg);
}
.bwp-widget-policy .pos-align-center .featured-banner {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.bwp-widget-policy .pos-align-right .featured-banner {
  text-align: right;
  justify-content: end;
}
.bwp-widget-policy .pos-align-right .image {
  order: 2;
}
.bwp-widget-policy .pos-align-right .banner-wrapper-infor {
  order: 1;
}
@media (max-width: 1199px) {
  .bwp-widget-policy .row--banners {
    margin: 0 -7.5px;
  }
  .bwp-widget-policy.style-2 .featured-banner:before {
    display: none;
  }
}
@media (max-width: 767px) {
  .bwp-widget-policy .featured-banner {
    justify-content: center;
  }
}
