/*================== SECTION CONTACT =============*/
.wpbingo-section--maps_info .wpbingo-section__content .map-section__wrapper {
	height:100%;
}
.wpbingo-section--maps_info .wpbingo-section__content .map-section{
	height:100%;
}
.wpbingo-section--maps_info .wpbingo-section__content .map-section__container{
	height:100%;
}